.home-watch-banner {
  background-image: url("https://i.imgur.com/gq0BOSq.png");
  background-position: center;
  background-size: cover;
}
.home-watch-content {
  padding: 10% 4%;
}
.home-watch-h2 {
  font-size: 24px;
  font-family: cursive;
  color: #4d4d4d;
}
.home-watch-h3 {
  font-size: 60px;
  width: 32%;
  line-height: 61px;
  font-family: emoji;
  padding: 2% 0 1%;
  color: #43637f;
}
.home-watch-btn {
  background-color: #135997;
  padding: 9px 20px;
  font-size: 20px;
  color: aliceblue;
  box-shadow: 1px 1px 5px #00000085;
  margin-top: 2%;
}
.home-watch-btn:hover {
  background-color: #ffffff;
  padding: 9px 20px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  box-shadow: 1px 1px 5px #00000085;
  margin-top: 2%;
}
.home-watch-content p {
  width: 44%;
  font-size: 22px;
}
@media only screen and (max-width: 430px) {
  .home-watch-banner {
    background-image: url("https://i.imgur.com/mztH6aP.png");
    background-size: cover;
    background-position-x: 98%;
    background-position-y: 0%;
  }
  .home-watch-overly {
    background-color: #e1e1e17a;
  }
  .home-watch-content {
    text-align: center;
  }
  .home-watch-h3 {
    width: 100%;
  }
  .home-watch-content p {
    width: 100%;
    font-size: 20px;
    padding-bottom: 6%;
  }
}
