.watches-content {
  padding: 0.2% 0%;
  margin-bottom: 11%;
}
.watches-content h2 {
  font-size: 30px;
  font-family: auto;
  font-weight: 500;
}
.watches-content-btn {
  font-size: 20px;
  background-image: linear-gradient(89deg, white, #f9f9f9);
  padding: 5px 14px;
  color: black;
  box-shadow: 0px 0px 2px 0px #00000042;
  transition: transform 0.3s;
  margin-left: 16px;
}
.watches-content-btn:hover {
  transform: translate(0px, -2px);
  box-shadow: 0px 1px 2px 0px #0000005c;
  background-image: linear-gradient(45deg, #9076ff, #c740e9);
  color: white;
}
.watches-title {
  padding: 0.2% 0%;
  border-bottom: 1px solid #ccc;
  margin: 3% 4% 0;
}
.Watches-products {
  /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
  margin: 2% 4%;
  padding-bottom: 5%;
  /* margin-bottom: 27%; */
  /* gap: 3% 4%; */
}

.single-product-home img {
  text-align: center;
}
.single-product-home {
  box-shadow: 0px 1px 3px 0px #0404049c;
  transition: transform 0.3s;
  text-align: center;
}
.single-product-home:hover {
  transform: translate(0px, -7px);
  box-shadow: 0px 3px 17px 6px #00000045;
}
.single-product-home h3 {
  font-size: 16px;
  font-weight: 500;
  color: #393939;
  padding: 4% 0;
}
.regular {
  color: #8f33c1;
  font-size: 20px;
  font-weight: 500;
}
.discount {
  font-size: 20px;
  font-weight: 500;
  color: #5c666f;
  text-decoration: line-through;
}

.product-btn {
  background-image: linear-gradient(89deg, #4f0577, #011787);
  /* padding: 7px 17px; */
  color: white;
  border-radius: 5px;
  border: 1px solid #382a5500;
  box-shadow: 0px 2px 3px #0000007a;
}
.product-btn:hover {
  background-image: linear-gradient(89deg, #ffffff, #ffffff);
  color: rgb(0, 0, 0);
  box-shadow: 0px 2px 3px #0000007a;
  border: 1px solid #382a55;
}
