.price-old {
  font-size: 18px;
  padding-left: 0;
  padding-right: 10px;
  color: #999;
  font-weight: 300;
  text-decoration: line-through;
}
.price-regular {
  color: #c29958;
  font-weight: 700;
  font-size: 22px;
}
